@import '../../common/scss/common.scss';

.#{$prefix}button {
    padding: 8px 10px;
    
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-weight: 300;
    outline: 0;
    touch-action: manipulation;
    user-select: none;
    transition: opacity ease-in-out .3s;
    &:active {
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        cursor: pointer;
        opacity: .85;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
    &.round-border{
        border-radius: $borderRadius;
    }
    &.loading{
        cursor: not-allowed;
    }
    
    //color
    &.default {
        color: $darkGray;
        background-color: $bgGray;
        border: 1px solid $borderGray;
    }
    &.primary {
        color: $white;
        background-color: $primaryBlue;
        border: 1px solid $primaryBlue;
        &.highlight{
            border-radius: 0;
            animation: borderHighlightBlue $animationNormalDuration ease-in-out infinite;
        }
    }
    &.danger {
        color: $white;
        background-color: $dangerColor;
        border: 1px solid $dangerColor;
        &.highlight{
            border-radius: 0;
            animation: borderHighlightRed $animationNormalDuration ease-in-out infinite;
            animation: name duration timing-function delay iteration-count direction fill-mode;
        }
    }
    //size
    &.normal {
        font-size: $normalFontsize;
    }
    &.small {
        font-size: $smallFontsize;
    }
    &.big {
        font-size: $bigFontsize;
    }
}