//Global variables
//namespace
$prefix: jui-;

//#Color
$white: #fff;
$lightGray: #f0f0f0;
$borderGray: #ccc;
$bgGray: #fafafa;
$bgColor: #efefef;
$darkGray: #333;
$primaryBlue: #1890ff;
$dangerColor: #ff4d4f;

//#Size
$smallFontsize: 12px;
$normalFontsize: 14px;
$bigFontsize: 16px;

//#border
$borderRadius: 2px;

//animation
$animationNormalDuration: 1s;
$animationNormalDuration: 2s;
$animationSlowDuration: 3s;
$animattionIterationCountInfinite: infinite;
