$bgColor: #EFEFEF;
body {
    background-color: $bgColor;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.app {
    padding: 20px;
}