@import '../../common/variable.scss';

.table-wrapper {
    color: $darkGray;
    font-size: $normalFontsize;

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid $lightGray;

        thead {
            background-color: $lightGray;

            tr {
                th {
                    text-align: left;
                    padding: 14px 16px;
                    user-select: none;
                    &:hover {
                        cursor: pointer;
                        color: $primaryBlue;
                    }

                    &.disabled{
                        color: $borderGray;
                        cursor: not-allowed;
                    }

                    &.sort {
                        color: $primaryBlue;
                        .icon {
                            transition: transform ease-in-out .5s;
                            margin-left: 3px;
                        }

                        &.asc {}

                        &.desc {
                            .icon {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                transition: background-color ease-in-out .5s, outline ease-in-out .3s;;

                &:hover {
                    background-color: $bgGray;
                }

                &.selected {
                    background-color: change-color($primaryBlue, $alpha: 0.1);
                }

                &.editable{
                    outline: 1px solid $primaryBlue;
                    animation: borderHighlight 2s ease-in-out infinite;
                    &.warning{
                        animation: borderWarning 2s linear infinite;
                    }
                }

                td {
                    padding: 8px;
                    border-top: 1px solid $lightGray;

                    &:nth-child(1) {
                        padding: 10px 16px;
                    }

                    &:nth-child(2) {
                        padding: 10px 16px;
                    }

                    &.sort {
                        background-color: $bgGray;
                    }

                    &.empty-data {
                        text-align: center;
                        height: 150px;
                    }
                }
            }
        }
    }
}

@keyframes borderHighlight{
    0%{ 
        outline: 1px solid $primaryBlue;
        box-shadow: 0 0 0 3px change-color($primaryBlue, $alpha: 0.3);
    }
    50%{ 
        outline: 1px solid transparent;
        box-shadow: 0 0 0 0px change-color($primaryBlue, $alpha: 0.3);
    }
    100%{ 
        outline: 1px solid $primaryBlue;
        box-shadow: 0 0 0 3px change-color($primaryBlue, $alpha: 0.3);
    }
}


@keyframes borderWarning{
    0% {outline-color: $primaryBlue;}
    25% {outline-color: $dangerColor;}
    50% {outline-color: $primaryBlue;}
    75% {outline-color: $dangerColor;}
    100% {outline-color: $primaryBlue;}
}