@import '../../common/scss/common.scss';

.table-wrapper {
    color: $darkGray;
    font-size: $normalFontsize;
    margin:10px;
    

    .table-toolbar {
        display: flex;
        padding: 10px 10px;
        justify-content: space-between;
        margin-bottom: 15px;
        border: 1px solid $white;
        background-color: $white;
        box-shadow: 0 0 4px $borderGray;
        .table-action{
            button {
                margin-right: 8px;
            }
        }

        .language-switcher{

        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid $white;
        background-color: $white;
        box-shadow: 0 0 4px $borderGray;
        thead {
            // background: linear-gradient(0deg,$lightGray 0%, $bgGray 100%);
            
            tr {
                
                th {
                    border-bottom: 1px solid $borderGray;
                    text-align: left;
                    padding: 20px 16px;
                    user-select: none;
                    &:hover {
                        cursor: pointer;
                        color: $primaryBlue;
                    }

                    &.disabled{
                        color: $borderGray;
                        cursor: not-allowed;
                    }

                    &.sort {
                        color: $primaryBlue;
                        .icon {
                            transition: transform ease-in-out .5s;
                            margin-left: 3px;
                        }

                        &.asc {}

                        &.desc {
                            .icon {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                transition: background-color ease-in-out .5s, outline ease-in-out .3s;;

                &:nth-child(odd){
                    background-color: $bgGray;
                }                

                &:hover {
                    background-color: change-color($primaryBlue, $alpha: 0.1);
                }

                &.selected {
                    outline: 1px solid change-color($dangerColor, $alpha: 0.5);
                    background-color: change-color($dangerColor, $alpha: 0.02);
                }

                &.editable{
                    // outline: 1px solid $primaryBlue;
                    // animation: borderHighlight 2s ease-in-out infinite;
                    &.warning{
                        animation: borderWarning 2s linear infinite;
                    }
                }


                td {
                    padding: 8px 8px;
                    border-top: 1px solid $lightGray;

                    &:nth-child(1) {
                        padding: 10px 16px;
                    }

                    &:nth-child(2) {
                        padding: 10px 16px;
                    }

                    &.sort {
                        background-color: change-color($primaryBlue, $alpha: 0.1);
                    }

                    &.editable{
                        // outline: 1px solid $primaryBlue;
                        animation: bgColorHighlight 2s ease-in-out infinite;                        
                    }

                    &.empty-data {
                        text-align: center;
                        height: 150px;
                    }
                }
            }
        }
    }
}

